<section class="bg-rf-grey">


            <div class="mx-auto px-4 py-8 lg:py-8 max-w-screen-xl mx-auto px-5">
                 <div class=" md:mt-0">
      <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight text-rf-blue">
        Our Initiatives
      </h2>


                <div class="mt-8 grid grid-cols-1 gap-8 md:grid-cols-3">
                    <div class="rounded-lg border border-gray-200 p-8 bg-white flex flex-col">
                        <div class="inline-flex rounded-lg bg-white p-3">
                            <img src="/assets/images/icons/events.svg" alt="Events icon" width="80" height="80">
                        </div>

                        <h3 class="mt-6 text-2xl font-bold text-rf-blue">Events</h3>
                        <p class="mt-1 text-xl text-rf-blue">Show up. Share ideas.<br>Spark connections.</p>

                        <p class="mt-4 text-pretty text-gray-700">
                            Talks, meetups, and mixers that blend learning with community.
                        </p>
                    </div>

                    <div class="rounded-lg border border-gray-200 p-8 bg-white flex flex-col">
                        <div class="inline-flex rounded-lg bg-white p-3">
                            <img src="/assets/images/icons/education.svg" alt="Education icon" width="80" height="80">
                        </div>

                        <h3 class="mt-6 text-2xl font-bold text-rf-blue">Education</h3>
                        <p class="mt-1 text-xl text-rf-blue">Learn together.<br>Grow together.</p>

                        <p class="mt-4 text-pretty text-gray-700">
                            Workshops, tutorials, and mentorship to sharpen your craft.
                        </p>
                    </div>

                    <div class="rounded-lg border border-gray-200 p-8 bg-white flex flex-col">
                        <div class="inline-flex rounded-lg bg-white p-3">
                            <img src="/assets/images/icons/special-projects.svg" alt="Special Projects icon" width="80" height="80">
                        </div>

                        <h3 class="mt-6 text-2xl font-bold text-rf-blue">Special Projects</h3>
                        <p class="mt-1 text-xl text-rf-blue">Create the future<br>with us.</p>

                        <p class="mt-4 text-pretty text-gray-700">
                            Hands-on projects where members experiment, build, and preserve our story.
                        </p>
                    </div>
                </div>
            </div>
</section>
