<footer class="my-20">
  <div class="max-w-screen-xl mx-auto px-5">
   
<p class="text-center text-sm text-rf-blue/80 max-w-2xl mx-auto">Some rights reserved. This site’s content is licensed under a
 <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" rel="license" class="underline hover:text-rf-blue">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International license</a>. Source code available on <a href="https://github.com/refreshdc/refresh-dc.org" rel="source" class="underline hover:text-rf-blue">GitHub</a>.</p>
   </div>
</footer>
