<footer class="my-20">
  <div class="max-w-screen-xl mx-auto px-5">
   
<p>Refresh DC is a collegial, educational community organized and attended by professionals from diverse backgrounds. We kindly ask that all attendees, speakers, hosts, and sponsors abide by our <a href="/conduct">Code of Conduct</a>. Some rights reserved. This site’s content is licensed under a 
 <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" rel="license">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International license</a>. Source code available on <a href="https://github.com/refreshdc/refresh-dc.org" rel="source">GitHub</a>.</p>
   </div>
</footer>
