{% from "ui/link.njk" import link %}

<section class="bg-rf-blue text-white mb-20">
  <div class="max-w-screen-xl mx-auto px-5">
    <div class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
      <div class="py-6 md:order-1 hidden md:block">
        <img
          src="/assets/images/hero.png"
          alt="Astronaut in the air"
          loading="eager"
          width="620"
          height="620"
          class="w-full max-w-[620px]"
        />
      </div>
      <div>
        <h1 class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
          Discover. <br> Connect.<br> Refresh.
        </h1>
        <p class="text-lg mt-4 text-white max-w-xl">
          Refresh DC is where creatives and technologists come together to share knowledge—and have a little fun along the way.

        </p>
       <!--- <div class="mt-6 flex flex-col sm:flex-row gap-3">
          <a href="https://web3templates.com/templates/astroship-starter-website-template-for-astro" target="_blank" rel="noopener" class="flex gap-1 items-center justify-center bg-black text-white hover:bg-gray-800 border-2 border-transparent px-5 py-2.5 rounded text-center transition">
            {% include "ui/icons/download.njk" %}
            Download for Free
          </a>
          <a href="https://github.com/surjithctly/astroship" target="_blank" rel="noopener" class="flex gap-1 items-center justify-center bg-white border-2 border-black hover:bg-gray-100 text-black px-5 py-2.5 rounded text-center transition">
            {% include "ui/icons/github.njk" %}
            GitHub Repo
          </a>
        </div> --->
      </div>
    </div>
  </div>
</section>
