{# Link macro - styled anchor/button component #}
{% macro link(href, text, style="primary", size="lg", block=false, class="", target="", rel="") %}
{%- set sizes = {
  "lg": "px-5 py-2.5",
  "md": "px-4 py-2"
} -%}
{%- set styles = {
  "outline": "bg-white border-2 border-black hover:bg-gray-100 text-black",
  "primary": "bg-black text-white hover:bg-gray-800 border-2 border-transparent",
  "inverted": "bg-white text-black border-2 border-transparent",
  "muted": "bg-gray-100 hover:bg-gray-200 border-2 border-transparent"
} -%}
<a
  href="{{ href }}"
  class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 {{ sizes[size] }} {{ styles[style] }} {{ 'w-full' if block else '' }} {{ class }}"
  {% if target %}target="{{ target }}"{% endif %}
  {% if rel %}rel="{{ rel }}"{% endif %}
>{{ text }}</a>
{% endmacro %}
