---
layout: layouts/base.njk
title: 404 Not Found
permalink: /404.html
---

<section>
  <div class="max-w-screen-xl mx-auto px-5">
    <div class="min-h-[calc(100vh-16rem)] flex items-center justify-center">
      <div class="mt-16 text-center">
        <h1 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">404</h1>
        <p class="text-lg mt-4 text-slate-600">Page not found.</p>
        <a href="/" class="inline-block mt-8 bg-black text-white px-5 py-2.5 rounded hover:bg-gray-800 transition">
          &larr; Back to Home
        </a>
      </div>
    </div>
  </div>
</section>
