---
layout: layouts/base.njk
title: About
permalink: /conduct/
---

{% from "components/sectionhead.njk" import sectionhead %}

<section>
  <div class="max-w-screen-xl mx-auto px-5">
    {{ sectionhead("Code of Conduct" ) }}

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16 text-lg leading-relaxed text-slate-500">
  
 
 <p>Refresh DC is an inclusive community based on treating all individuals respectfully, regardless of gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity, religion (or lack thereof), or technology choices. As a participant at one of our events, you agree to be nice, considerate, and civil toward other participants. Do not be mean or nasty. Pretty easy, right?</p>
<p>If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact one of the organizers immediately. Refresh DC is currently organized by <a href="https://www.linkedin.com/in/nickwhitmoyer" class="underline hover:text-rf-blue">Nick Whitmoyer</a>.</p>
<p>Harassment includes offensive verbal comments related to gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity, religion, technology choices, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.</p>
<p>Participants asked to stop any harassing behavior are expected to comply immediately. If a participant engages in harassing behavior, we may take any action we deem appropriate, from warning the offender to immediately expelling the offender from the venue. Participants engaging in the aforementioned behavior may also be barred from attending future Refresh DC events.</p>
<p>We expect all participants to follow these rules at Refresh DC events.</p>
<p>This document is based on <a href="https://confcodeofconduct.com" class="underline hover:text-rf-blue">confcodeofconduct.com</a>.</p>

 
    </div>
 
  </div>
</section>
